.tb{
    margin-top: 9rem;
    padding: 30px;
    
}
h1{
    font-size: 32px;
    padding-bottom: 10px;
}
table{  
    width: 100%;
    border: 1px solid;
}
tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid    #2563EB;
}
.act{
    background-color: #e4e6eb;
}
.act th{
    padding-right: 10px;
    margin: 15px;
    color: #2563EB;
    font-size: 22px;
    
}
tbody{
  
    font-size: 20px;
    
    
}
tbody tr{
    
    
    border-bottom: 1px solid black;
}
tbody tr td{
    border-right: 1px solid black;
    width: 100%;
    padding: 10px;
    position: relative;
}
button{
    padding: 1px;
    cursor: pointer;
}