.sub{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.Login{
    width: 70%;
    display: flex;
    height: 70%;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 33px rgba(0, 0, 0, 0.171), -1px -2px 33px rgba(0, 0, 0, 0.267);
}

.Login IMG{
    object-fit: contain;
    border-radius:10px 0px 0px 10px;
    width: 60%;
    
}
.Login form{
    background-color: #22333b;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius:0 10px 10px 0px;
}
.Login form .details{
    color: aliceblue;
    font-size: 26px;
    padding: 5px;
}
.Login input{
    margin: 1rem;
    padding: 10px;
    border-radius: 21px;
    background-color:#c6ac8f;
    color: #0a0908;
}

.Login input:focus{
    background-color: white;
    color: #0a0908;
    border: none;
}
.Login form button{
    background-color: white;
    width: 40%;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}
.link_reg{
    color: white;
    border-bottom: 1px solid;
    cursor: pointer;
}

.btn_home{
    position: absolute;
    background-color: #0a0908;
    color: white;
    padding: 0px;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
}

.signUp input{
    margin: 8px;
}
.signUp p{
    font-size: 12px;
    
}